name: 'Deploy Dev - App: Web'
on:
  workflow_call:
    inputs:
      environment:
        description: 'Target environment when called by another workflow'
        required: true
        type: string
jobs:
  deploy-dev:
    name: 'Deploy - Dev'
    if: startsWith(github.ref, 'refs/heads/release') || startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
      pull-requests: write
      packages: write
      id-token: write
    runs-on: [self-hosted, linux, x64, core]
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v6
        with:
          name: fakenteiamcollective-web-app
          path: ./
      - name: Download release metadata
        uses: actions/download-artifact@v6
        with:
          name: release-metadata
          path: ./
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy static website to Azure
        env:
          STORAGE_ACCOUNT: ${{ vars.AZURE_FA_KENTE_IAM_COLLECTIVE_ST }}
        run: |
          echo "Deploying to dev environment"
          echo "Deploying to $STORAGE_ACCOUNT"

          az storage blob upload-batch \
          --account-name $STORAGE_ACCOUNT \
          --destination '$web' \
          --source ./dist \
          --overwrite true
