name: 'PR - Validate ADO Task number'
on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
jobs:
  check_pr:
    name: 'ADO Task Number'
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Check PR
        uses: JJ/github-pr-contains-action@releases/v14.1
        with:
          github-token: ${{github.token}}
          bodyContains: 'AB#'
          waivedUsers: 'dependabot[bot]'
